/*font-family: 'Bevan', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Open Sans', sans-serif;*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color: rgba(149, 42, 24, 0.8);
}

.jumbotron img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.30;
}

.jumbotron h1 {
  padding: 0px;
  position: relative;
  z-index: 2;
  font-family: 'Bevan', cursive;
  color: #e8d2a7;
}

.jumbotron h3{
  padding: 0px;
  position: relative;
  z-index: 2;
  font-family: 'Homemade Apple', cursive;
  font-size: 30px;
  color: #faf5eb;
}

.main h2 {
  font-family: 'Bevan', cursive;
  color: #e8d2a7;
}

.main p {
  font-weight: 600;
}

label {
  font-size: 16px;
  font-weight: 700;
  color: #a43a01;
}

button#order {
  background-color: #a43a01;
  font-family: 'Bevan', cursive;
  color: #fff;
}

button#order:hover {
  background-color: #e8d2a7;
  color: #a43a01;
}

.display-cost, .display-order {
  display: none;
}
